#navbar
{
    z-index: 9999 !important;
}

#navbar #navbar-sub-brand{
    font-size: 15px;
}

#navbar #Dropdown-header .row:nth-child(1){
    font-size: 30px;
    display: flex;
    justify-content: center;
}

#navbar #Dropdown-header .row:nth-child(2){
    margin-top: 10px;
    font-size: 16px;  
    display: flex;  
    justify-content: center;  
}

.color-nav
{
    background-color: rgba(8, 2, 41, 0.726);
}

.color-nav2
{
    background-color: rgba(43,47,83);
}

.svg-inline--fa.fa-user.fa-w-14 
{
    margin-right: 10px;
}