.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #444040;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #242d65;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: rgb(59, 53, 53);
    color: white;
  }