.PrincipalLog
{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/50/Landivar_Campus_Central.jpg);
    background-repeat: no-repeat;    
    background-position: center;    
    background-size: cover;    
}

.container-IniciarSesion
{
    background-image: url(./azu.jpg);     
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    padding-top: 50px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px 0px rgb(0, 0, 0,0.75);    
    padding: 50px;    
  }

#InicioSesion
{
    margin-top: 11px;  
    margin-bottom: 320px;  
}

#InicioSesion button,
#InicioSesion form
{
    width: 100%;
}

#InicioSesion .form-control
{
    float:right;
} 

#registro
{
    margin-top: 2%;
    width: 100%;
}

#InicioSesion h2
{      
    width: 100%;
    margin-top: 50%;   
    margin: auto;    
    text-align: center;
}

